{% extends 'layouts/main.html.twig' %}
{% block main %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Главная страница</h1>
        <p>Это главная страница. Именно эту страницу видят пользователи, когда заходят на сайт.</p>
        <p>Так же есть другие страницы. Ссылки на них вы найдете ниже или в навигации.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Hello, world!</h2>
            <p>Так же есть страница "Hello, world!". Перейдите и посмотри что она из себя представляет.</p>
            <p><a class="btn btn-secondary" href="/hello" role="button">Перейти »</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar justify-content-between mb-2" role="toolbar">
                <h2>Users</h2>
                <div><a href="/user/create" class="btn btn-primary">Добавить</a></div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Created</th>
                    <th>Updated</th>
                    <th>Deleted</th>
                    <th>Actions</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.surname }}</td>
                        <td>{{ user.created_at }}</td>
                        <td>{{ user.updated_at }}</td>
                        <td>{{ user.deleted_at }}</td>
                        {% if (user.deleted_at == null) %}
                            <td>
                                <a href="/user/update/{{ user.user_id }}" class="btn btn-info"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                <a href="/user/delete/{{ user.user_id }}" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                            </td>
                        {% else %}
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}